@import url("https://fonts.googleapis.com/css?family=Montserrat:900");

body {
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
  background-image: url(./assets/brminerios.jpg);
  background-size: 100%;
}

.container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.background-image {
  width: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  /* background-image: url("https://www.nexaresources.com/wp-content/uploads/2023/08/ARIPUANA_SITE-2.png"); */
  background-size: cover;
}

.split-screen {
  width: 50%;
  /* background-color: #87989d; */
  /* background-image: url(https://www.nexaresources.com/wp-content/uploads/2022/05/historia-2004.png); */
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 2;
  animation: reduceSize 1.5s 0.5s, moveRight 1.5s 3s;
  animation-fill-mode: forwards;
}

.logo{
  width: 40px;
  height: 40px;
}

.content {
  color: white;
  font-size: 10vw;
  text-transform: uppercase;
  position: absolute;
  width: fit-content;
  height: fit-content;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 4;
  opacity: 0;
  transform: translateY(100vh);
  animation: fadeInUp 2s 0.5s, moveRight 1.5s 3s, changeBackground 1.5s 3s;
  animation-fill-mode: forwards;
}

.content p {
  margin: 0;
}

.content .comma {
  color: #f2f3f1;
  opacity: 1;
  animation: fadeOut 0.5s forwards 2.5s;
}

/* @keyframes reduceSize {
  from {
    width: 100%;
  }
  to {
    width: 50%;
  }
} */

@keyframes fadeInUp {
  from {
    transform: translateY(100vh);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes moveRight {
  from {
    left: 0%;
  }
  to {
    left: 50%;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes changeBackground {
  to {
    /* background-image: url("https://www.nexaresources.com/wp-content/uploads/2023/02/Resultados-2.jpg"); */
    background-size: 200%;
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
  }
}
